@keyframes wiggle {
  0% {
    transform: rotate(10deg);
  }
  2.5% {
    transform: rotate(-10deg);
  }
  5% {
    transform: rotate(20deg);
  }
  7.5% {
    transform: rotate(-5deg);
  }
  10% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.route-icon {
  width: 50px;
  height: 50px;
}

.theme-toggle {
  border: none;
  padding: 0;
  appareance: none;
  background: transparent;
  color: var(--fg-02);
  margin: 0;
  cursor: pointer;
  animation-duration: 5s;
  animation-name: wiggle;
  animation-direction: alternate;
  position: relative;
  transition: color 0.2s ease;
  margin-left: var(--margin-01);
}

.theme-toggle:before {
  opacity: 0;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease;
}

.-light .theme-toggle:before {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH5AcfEwkayZs39wAAABZJREFUGNNjYGBg+M+ACtD59AQD5RYA1k4D/Us3UwMAAAAASUVORK5CYII=");
}

.-dark .theme-toggle:before {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAJUlEQVQoU2P8////f0ZGRkYGKEDnwyVgCtBpKirA5RYqWoHLFwB+ERAJfTUMZgAAAABJRU5ErkJggg==");
}

.theme-toggle:hover {
  color: var(--hl-02);
}

.theme-toggle:hover:before {
  opacity: 1;
}
