.project-card {
  border: 4px solid var(--border);
}

.project-card a {
  color: var(--fg-02);
  text-decoration: none;
}

.project-card-img {
  width: 100%;
  filter: grayscale(100);
  background: #fff;
  min-height: 100px;
  text-align: center;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  transition: all 0.2s ease;
}

.project-card-info {
  margin: 0;
  padding: var(--margin-01);
  text-align: center;
}

.project-card a:hover .project-card-info {
  background: var(--hl-01);
}

.project-card a:hover .project-card-img {
  filter: none;
}
