.now main {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.now main > .wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: var(--margin-04);
  margin: 0;
  margin-bottom: var(--margin-04);
  padding: 0;
  width: auto;
}

.now .rich-text-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
}

.now .rich-text {
  margin: 0;
  padding-right: var(--margin-04);
}

.now .rich-text ul {
  margin-top: var(--margin-01);
}

.now .now-media {
  height: 100%;
  width: auto;
  object-fit: cover;
  display: block;

  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

@media (--small-screen) {
  .now main > .wrapper {
    grid-template-columns: 1fr;
  }

  .now .now-media {
    width: 100%;
    height: auto;
  }
  .now .rich-text {
    padding-bottom: var(--margin-04);
    padding-left: var(--margin-04);
    padding-right: var(--margin-04);
  }
}
