#footer {
  margin-top: var(--margin-02);
  text-align: center;
  padding: var(--margin-02) 0;
}

#footer .wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

#footer .social {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

#footer .social a {
  color: var(--fg-02);
}

#footer .social li:not(:last-child) {
  margin-right: var(--margin-02);
}

@media print {
  #footer {
    margin-top: 0;
  }
}
