.project-single .title-box {
  margin-top: var(--margin-02);
  margin-bottom: var(--margin-04);
  display: flex;
  flex-flow: row;
  padding: 0;
}

.project-single .box img {
  width: 100%;
  max-width: 200px;
  height: auto;
  display: block;
  margin-right: var(--margin-02);
  background: #fff;
}

.project-single .project-attributes {
  padding: var(--margin-02);
}

.project-single .project-gallery {
  margin-top: var(--margin-06);
}

.project-single .project-gallery img {
  width: 100%;
  height: auto;
}

.project-single .project-gallery img:not(:last-child) {
  margin-bottom: var(--margin-04);
}

@media (--small-screen) {
  .project-single .title-box {
    flex-flow: column;
  }

  .project-single .title-box img {
    width: 100%;
    max-width: none;
    margin: auto;
  }
}
